
{% load static %}

{% load customFilter %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'invoice.css'%}">
<style>
  @media print {
    .hidden-print { display: none !important; }
  }
  .letter-body {
    font-size: 17px;
    line-height: 1.7;
    margin: 2.5rem 8% 4rem;
  }
  .letter-body .greeting {
    margin-bottom: 1.25rem;
  }
  .letter-signature-block {
    margin-top: 4rem;
  }
</style>

<!--Author      : @arboshiki-->
<div id="invoice">
    <div class="toolbar hidden-print">
        <div class="text-right">
            <button type="button" id="printLetter" class="btn btn-info" onclick="window.print()">Print</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col company-details">
                        <h2 class="name">
                          <div class="mainTitle">
                              <b>JAI FABRICS</b>
                          </div>
                        </h2>
                        <div>1803 Neptune CHS DN NAGAR Andheri West</div>
                        <div>Mobile Number: 9322970238</div>
                        <div>EMAIL: ashokparmani@gmail.com</div>
                        <div>GSTIN: 27ACCPP6615Q1Z0</div>
                    </div>
                    <div class="col invoice-details">
                        <div class="date">Date: {{letterDate|date:"F j, Y"}}</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="letter-body">
                    <div class="greeting">To {{custName}},</div>
                    {{ letterBody|linebreaks }}
                </div>

                <div class="letter-signature-block">
                    <div class="signature" align="right">
                      JAI FABRICS
                    </div>
                    <p id='auth' align="right">Authorised Signatory</p>
                </div>
            </main>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>
