{% extends 'base.html' %}
{% load static %}
{% load customFilter %}
{% block body_block %}
<div class="page-header">
  <h1>Sale Total</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Bill No</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price/Unit</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for i in saleList %}
    {% if i.invoiceDate|checkDate:"SaleModel" %}
    <tr>
      <td><a class="btn btn-info" href="{% url 'getBill' i.pk %}">{{i.invoiceNumber}}</a></td>
      <td>{{i.invoiceDate}}</td>
      <td>{{i.custName}}</td>
      <td>{{i.itemName}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.pricePerUnit}}</td>
      <td>{{i.subtotal}}</td>
      <td>{{i.total}}</td>
      <td><a class="btn" href="{% url 'getActions' i.pk %}">Modify</a></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6"><strong>{{i.invoiceDate.month}}, {{i.invoiceDate.year}} Total</strong></td>
      <td>{{i.invoiceDate|giveOneMoreArgument:"subtotal"|giveSummary:"SaleModel"}}</td>
      <td>{{i.invoiceDate|giveOneMoreArgument:"total"|giveSummary:"SaleModel"}}</td>
      <td></td>
    </tr>
    <tr>
      <td><a class="btn btn-info" href="{% url 'getBill' i.pk %}">{{i.invoiceNumber}}</a></td>
      <td>{{i.invoiceDate}}</td>
      <td>{{i.custName}}</td>
      <td>{{i.itemName}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.pricePerUnit}}</td>
      <td>{{i.subtotal}}</td>
      <td>{{i.total}}</td>
      <td><a class="btn" href="{% url 'getActions' i.pk %}">Modify</a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% if page_obj.has_other_pages %}
<div class="pagination">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{%endblock %}
